h2 {
  font-size: 50px;
}
.services {
  padding: 65px 0;
  background-color: #F1F6F0;
}
.services h2 {
  margin-bottom: 3rem;
}
.services h3 {
  font-size: 25px;
  margin: 1.5rem 0;
}
.services p {
  font-size: 18px;
  color: #000000;
  opacity: 0.6;
}
.about {
  padding: 115px 0px;
  background-color: #468A39;
  position: relative;
}
.about h2 {
  margin-bottom: 1rem;
  color: #fff;
  opacity: 0.95;
}
.about .text-main {
  font-size: 26px;
  line-height: 45px;
  color: #FFFFFF;
  opacity: 0.7;
}
.about .numbers {
  border-radius: 15px;
  background: #FFF;
  height: 120px;
  position: absolute;
  top: 86%;
  padding-left: 6rem;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
.about .numbers-item {
  margin: 1.5rem 3rem;
  height: 66px;
  border-left: 2px solid #468A39;
}
.about .numbers-item h4 {
  font-size: 28px;
}
.about .numbers-item p {
  font-size: 16px;
}
.works {
  padding-top: 8rem;
}
.works .special-title {
  margin-left: 3rem;
  margin-bottom: 3rem;
  display: inline-block;
}
.works h3,
.works p {
  margin-left: 2.4rem;
}
.works h3 {
  font-size: 28px;
  margin-bottom: 1.7rem;
}
.works p {
  font-size: 18px;
}
.contacts {
  padding-top: 10rem ;
  padding-bottom: 6rem;
}
.contacts-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 5rem;
}
.contacts-block {
  text-align: center;
}
.contacts-block h4 {
  font-size: 30px;
  margin: 1rem 0;
}
.contacts-block p {
  font-size: 20px;
  color: #000;
  opacity: 0.6;
}
.contacts-block .spec-hmail {
  padding-top: 1rem;
}
.contacts-block .spec-hnom {
  padding-top: 0.8rem;
}
.contacts-block .contacts-inner {
  height: 14rem;
}
.contacts-block button {
  font-size: 20px;
  margin-top: 5rem;
  padding: 0.3rem 1rem;
  border: none;
  background-color: #468A39;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
}
footer {
  display: block;
  height: 4rem;
  background-color: #0B0D17;
  padding-top: 1rem;
}
footer h5 {
  display: inline-block;
  color: #fff;
  opacity: 1;
}
footer p {
  color: #fff;
  opacity: 1;
  margin-left: 15rem;
  display: inline-block;
  text-align: center;
}
footer .foot-icons {
  display: inline-block;
  float: right;
}
footer .foot-icons img {
  margin: 0 0.3rem;
}
